<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es-419">

<head th:replace="compartido/header"></head>

<body id="body-pd" class="bg-huella" onload="validarMensajes()">
	<header class="header" id="header">
		<div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
		<h5 class="title-page">Informes</h5>
		<div class="header_img" th:replace="compartido/imgPrf"></div>
	</header>

	<div class="l-navbar" id="nav-bar" th:replace="compartido/sidebar"></div>

	<div style="padding-top:20px; width:100%;height:100%;">
		<iframe title="Report Section" style="width: 100%; height: 87.3vh; border: none;"
			src="https://app.powerbi.com/view?r=eyJrIjoiZjJmNzRjYjItZDZhYy00NzUwLWE2NzQtZTE3OTRkOTNhNGVmIiwidCI6ImEwYmYyZjFmLWRiM2MtNDIwOS1hNTZmLWY4ZjdmODE0ZTgwYyJ9&embedImagePlaceholder=true"
			frameborder="0" allowFullScreen="true"></iframe>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
		integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
		crossorigin="anonymous"></script>

</body>


</html>